.ContactPage {
	display: flex;
	justify-content: center;
	align-items: center;
}
.ContactPage .contactBox {
	background-color: #fafafa;
	border-radius: 10px;
	color: #000000;
}
.ContactPage form {
	min-height: 100%;
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	font-size: 1em;
}
.ContactPage h1 {
	margin-bottom: 0.5em;
}
.mobile .ContactPage .contactBox {
	min-height: 100%;
}

/* Transition */
.contactFade-enter,
.contactFade-appear {
	opacity: 0;
}
.contactFade-enter-active,
.contactFade-appear-active {
	opacity: 1;
	transition: opacity 200ms;
}
.contactFade-exit {
	opacity: 1;
}
.contactFade-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}
