* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #111115;
	color: #fff;
}

button {
	font-family: 'Montserrat', sans-serif;
}

a:hover {
	cursor: pointer;
}

/* REQUIRED due to particle.js */
canvas {
	z-index: -1;
}

.mobile {
	font-size: 0.9em;
}
